<!DOCTYPE html>
<html lang="en-gb">
{{ partial "header" . }}
<body class="home blog logged-in admin-bar no-customize-support custom-background ">
<div class="wrapper">
    <header id="branding">
        {{ partial "head" . }}
        {{ partial "nav" . }}
    </header>
    <div id="main" class="container clearfix">
        <div id="container">
            <header class="entry-header">
                <h2 class="entry-title" itemprop="name" style="margin-bottom: 5px;">
                    {{ .Title }}
                </h2>
            </header>
            {{ .Content }}
            {{ safeHTML `
            <div id="vapp">
                <p>Hello World: {{display}}</p>
                <colored-box class="red" v-show="display == 'redbox'" v-on:toggle="toggleBox()"></colored-box>
                <colored-box class="green" v-show="display == 'greenbox'" v-on:toggle="toggleBox()"></colored-box>
                <fixtures/>
            </div>
            ` }}



        </div><!-- #container -->
    </div><!-- #main -->
</div>
{{ .Scratch.Set "page_type" .Params.page_type }}
{{ partial "footer.html" . }}
</body>
<script nonce="@addNonce">
    const js = v => "\{\{" + v + "\}\}";
    Vue.component('ColoredBox', {
        template: "<div class=\"box\">" +
            "<button v-on:click=\"toggleMe()\">Toggle Now</button>" +
            "</br>" +
            "<button v-on:click=\"clicks++\">Clickety Click</button>" +
            "</br></br>" +
            "{{ safeHTML `{{ clicks }}` }}" +
            "</div>",
        data: function() {
            return {
                clicks: 0
            }
        },
        methods: {
            toggleMe() {
                this.$root.toggleBox()
            }
        }
    })
    Vue.component('Fixtures', {
        template: `
            <div>
            <h2>Fixtures</h2>
            <table>
                <tr v-for="(row, idx) in rows">
                    <template v-if="d === row.CalendarDate.Name + ': ' + new Date(row.CalendarDate.Date).toDateString()">
                        <td></td>
                    </template>
                    <template v-else>
                        <td>${js('d = row.CalendarDate.Name + ": " + new Date(row.CalendarDate.Date).toDateString()')}</td>
                    </template>
                    <td>${js('row.HomeTeam.Name')} vs ${js('row.AwayTeam.Name')}</td>
                </tr>
            </table>
            </div>
        `,
        data: function() {
            return {
                rows: [],
                d: ""
            }
        },
        mounted () {
            console.log('mounted')
            // axios
            //     .get('https://sheets.googleapis.com/v4/spreadsheets/1LU4pl2MJbiRFtsPO76JXb5fj3KI-25usVU3GzRewM4I/values/Sheet1?alt=json&key=AIzaSyBBOLASWo2xB1tNOSqziRid6gulP_imNBs')
            //     .then(response => (this.rows = response.data.values))
            // fetch('https://sheets.googleapis.com/v4/spreadsheets/1ixjSVi7oDpcJEaa7lY1BnFI_RqJtn3fX7cyy7vJdyRI/values/Leagues?alt=json&key=AIzaSyBBOLASWo2xB1tNOSqziRid6gulP_imNBs')
            // fetch('https://sheets.googleapis.com/v4/spreadsheets/1ixjSVi7oDpcJEaa7lY1BnFI_RqJtn3fX7cyy7vJdyRI/values/Fixtures?alt=json&key=AIzaSyBBOLASWo2xB1tNOSqziRid6gulP_imNBs')
            //     .then((response) => response.json())
            //     .then((data) => this.rows = data.values);
            fetch('http://localhost:7070/async-proxy/https%3A%2F%2Fapp.londoncitypool.com%2Fapi%2Fleague%2Ffixtures%2F74%3FapiKey%3DsSWeTUs0bE6Du39oszArg')
                .then((response) => response.json())
                .then((data) => this.rows = data);
        },
        methods: {
            fDate() {
                return this.$root.formatDate();
            }
        }
    })
    const vueApp = new Vue({
        el: '#vapp',
        data: {
            display: 'greenbox'
        },
        methods: {
            toggleBox() {
                this.display === 'redbox' ? this.display = 'greenbox' : this.display = 'redbox'
            },
            formatDate() {
                return new Date().toDateString()
            }
        }
    })
</script>
</html>
