<!DOCTYPE html>
<html lang="en-gb">
{{ partial "header" . }}
<body class="home blog logged-in admin-bar no-customize-support custom-background ">
<div class="wrapper">
    <header id="branding">
        {{ partial "head" . }}
        {{ partial "nav" . }}
    </header>
    <div id="main" class="container clearfix">
        <div id="container">
            {{ if (and (ne .Params.page_type "article") (ne .Params.page_type "content")) }}
            <header class="entry-header">
                <h2 class="entry-title" itemprop="name" style="margin-bottom: 5px;">
                    {{ .Title }}
                </h2>
            </header>
            {{ end }}
            {{ if eq .Params.page_type "iframe" }}{{ partial "iframe" . }}
            {{ else if eq .Params.page_type "gsheet" }}{{ partial "gsheet" . }}
            {{ else if eq .Params.page_type "form" }}{{ partial "form" . }}
            {{ else if eq .Params.page_type "article" }}{{ partial "article" . }}
            {{ else if eq .Params.page_type "content" }}{{ partial "content" . }}
            {{ else }}{{ partial "missing-type" . }}{{ end }}
        </div><!-- #container -->
    </div><!-- #main -->
</div>
{{ .Scratch.Set "page_type" .Params.page_type }}
{{ partial "footer.html" . }}
</body>
</html>
