<!DOCTYPE html>
<html lang="en-US">
{{ partial "header" . }}
<body class="home blog logged-in admin-bar no-customize-support custom-background ">
<div class="wrapper">
    <header id="branding" >
        {{ partial "head" . }}
        {{ partial "nav" . }}
        {{ partial "slider" . }}
    </header>
    <div id="main" class="container clearfix">
        <div id="container">
            <div {{ if .Site.Params.widgets }}id="primary"{{ end }} class="no-margin-left">
                <div id="content">
<!--                    {{ partial "article_list" . }}-->
<!--                    <p>This the homepage. It needs some work.</p>-->
                    <h1>
                        Welcome to London City Pool League
                    </h1>
                    <div id="content-left" style="margin: auto; display: block; float: left; width: 50%; background-color: red">
                        <p>lorem ipsum etc etc</p>
                        <img src="{{ .Site.Params.hurricane | absURL }}"/>
                        <img src="{{ .Site.Params.spots | absURL }}"/>
                    </div>
                    <div id="content-righ" style="margin: auto; display: block; float: right; width: 50%; background-color: yellow;">
                        <p>Committee info goes here</p>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
        {{ partial "widgets" . }}
    </div><!-- #container -->
</div><!-- #main -->
<!--{{ partial "footer.html" . }}-->
</body>
</html>
